.tablePerfil {
  width: 20%;
}

.containerUser img {
  width: 20%;
  margin-bottom: 3%;
  margin-left: 65%;
}

.selectUserMana {
  padding: 20px;
  width: 80%;
  border-radius: 7px;
  border: 2.5px solid #005caa;
  background-color: #e8e8eb;
  color: var(--letter-color);
  font-family: "Inter", sans-serif;
  font-size: 12pt;
}
