.button-Schedule {
  border: none;
  background-color: var(--confirm-schedule);
  font-size: "Inter, sans-serif";
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.VisualizarChamados img {
  width: 20%;
  margin-left: 65%;
  margin-bottom: 3%;
}
