.button-Schedule {
  border: none;
  background-color: var(--confirm-schedule);
  font-size: "Inter, sans-serif";
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.VisualizarChamados img {
  width: 20%;
  margin-left: 65%;
  margin-bottom: 3%;
}

.buttonModalSchedule {
  font-size: 12pt;
  border-radius: 5px;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  width: 19.8rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 15px;
  background-color: var(--letter-color);
  border: none;
  color: var(--white-color);
}

.selectOpenTickets {
}
