.botoesModal {
  font-size: 12pt;
  border-radius: 5px;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  width: 13rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 12px;
  background-color: var(--letter-color);
  border: none;
  color: var(--white-color);
  margin: 0.5%;
}

.MuiBackdrop-root.MuiModal-backdrop.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: var(--main-color);
  border-radius: 10%;
}

.buttonModalSchedule {
  font-size: 12pt;
  border-radius: 5px;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  width: 19.8rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 15px;
  background-color: var(--letter-color);
  border: none;
  color: var(--white-color);
}
