.login-box {
  max-width: 70%;
  min-height: 22rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  margin-top: 1%;
  flex-direction: column;
  min-height: 5%;
}

.container {
  margin-top: 8%;
}

input {
  border-color: var(--letter-color);
}

.login-box h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  font-size: 20pt;
  color: var(--letter-color);
  margin-bottom: 20px;
}

.esqueciSenha {
  text-decoration: none;
  color: var(--letter-color);
  font-size: 12pt;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 11%;
  align-self: flex-end;
}

.registre {
  margin-top: 1rem;
  color: var(--letter-color);
  font-size: 14pt;
  text-align: center;
}

.login-box a {
  text-decoration: none;
  color: var(--letter-color);
  font-size: 13pt;
  text-decoration: underline;
  cursor: pointer;
}

.button-field,
.button-fieldB {
  font-size: 12pt;
  border-radius: 5px;
  text-align: center;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  width: 80%;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 8px;
  background-color: var(--letter-color);
  border: none;
  color: var(--white-color);
}

.field-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

svg {
  color: var(--letter-color);
}

.login-field label {
  color: #fff;
  font-size: 11pt;
  font-family: "Inter", sans-serif;
}

.login-field input {
  color: var(--letter-color);
}
