.termos {
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 1rem;
  color: var(--dark-blue);
  font-size: 12pt;
  text-align: center;
}

.voltar {
  color: var(--letter-color);
  margin: 1% 0 0 2%;
}
