.termos {
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 1rem;
  color: var(--dark-blue);
  font-size: 12pt;
  text-align: center;
}

.voltar {
  color: var(--letter-color);
  margin: 1% 0 0 2%;
}

.registerCourse {
  display: flex;
  flex-direction: column;
}

.registerCourse img {
  width: 20%;
  margin-bottom: 3%;
  margin-left: 65%;
}

.modals {
  display: flex;
  margin-left: 62%;
}

.css-bsph2u-MuiTableCell-root {
  border-bottom: none !important;
}

.css-1howxi1-MuiTableCell-root {
  border-bottom: none !important;
}

.courseDiscipline {
  margin-right: 65%;
}

tr:nth-child(even) {
  background: none !important;
}

.registerCourse {
  color: var(--letter-color);
  align-self: center;
}

.button-fieldRegister {
  font-size: 12pt;
  border-radius: 5px;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  width: 80%;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  padding: 15px;
  background-color: var(--letter-color);
  border: none;
  color: var(--white-color);
}

.TituloCurso {
  color: var(--letter-color);
  text-align: center;
}

.formRegister {
  margin-left: 17%;
}

.formCursoDiscipline {
  margin-left: 4px;
}
