.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 40rem;
}

.menu h1 {
  color: var(--letter-color);
  text-align: center;
}

.main-logo-box {
  margin-top: 2%;
}
