@import url("https://fonts.googleapis.com/css?family=Inter");

:root {
  /* COLORS */

  --main-color: #b2dbfe;
  --white-color: #e8e8eb;
  --letter-color: #005caa;
  --secondary-color: #0070ce;
  --letter-light-blue: #abd7fd;
  --icon-light-blue: #3c9df0;
  --medium-blue: #3c9df0;
  --link-color: #1f98ff;
  --dark-blue: #005caa;

  /* FONTS */
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--white-color);
  color: var(--letter-light-blue);
}
