.termos {
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 1rem;
  color: var(--dark-blue);
  font-size: 12pt;
  text-align: center;
}

.voltar {
  color: var(--letter-color);
  margin: 1% 0 0 2%;
}

.registerCourse {
  display: flex;
  flex-direction: column;
}

.registerCourse img {
  width: 20%;
  margin-bottom: 3%;
  margin-left: 65%;
}

.modals {
  display: flex;
  margin-left: 62%;
}

.courseDiscipline {
  margin-right: 70%;
}

.registerCourse {
  color: var(--letter-color);
  align-self: center;
}

.TituloCurso {
  color: var(--letter-color);
  text-align: center;
}
